/* Banner container */
.banner {
  background-image: url('../../img/home\ banner\ img.png');
  /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  height: 65rem; /* 900px */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem; /* 20px */
  color: white;
  overflow-y: hidden;
  position: relative;
  background-color: rgb(164, 164, 219);
}

.banner .custom-shape-divider-bottom-1725689494 {
  position: absolute;
  top: 50rem; /* 700px */
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1725689494 svg {
  position: relative;
  display: block;
  width: calc(280% + 1.3px);
  height: 19.56rem; /* 313px */
}

.custom-shape-divider-bottom-1725689494 .shape-fill {
  fill: #E9F3FF;
}

/* Banner content */
.banner-content {
  padding: 5.625rem; /* 90px */
  padding-top: 7rem;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: hidden;
  padding-left: 10rem; /* 30px */
}

/* Banner text */
.banner-text {
  width: 50%;
  font-size: 8rem; /* 128px */
  margin-bottom: 1.25rem; /* 20px */
  text-align: left;
  line-height: 8rem; /* 76px */
  overflow-y: hidden;
  font-weight: 800;
  font-family: "overlock", sans-serif;
}

/* Highlighted text */
.highlight {
  color: white;
}

.neonatology {
  color: #f46d67;
}

/* Button container */
.buttons-container {
  display: flex;
  gap: 2rem; /* 10px */
  margin-bottom: 1.25rem; /* 20px */
}
/* Button styles */
.btn {
  background-color: transparent;
  border-radius: 6.25rem; /* 100px */
  border: solid 0.0625rem white;
  color: white;
  padding: 1rem 3rem; /* 20px 30px */
  font-size:1.2rem; /* 14px */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-weight: 700;
  margin-top: 1.25rem; /* 20px */
}

.btn2 {
  background-color: #f46d67;
}

.btn2:hover {
  color: #f46d67;
  background-color: #FFFFFF;
}

.btn1:hover {
  background-color: white;
  color: #3322af;
}

/* Schedule container */
.schedule-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-top: 1rem;
}

.schedule-texts {
  display: flex;
  align-items: left;
  width: 100%;
  font-weight: bold;
  color: white;
}

.schedule-text {
  text-align: left;
  margin-right: 0.625rem; /* 10px */
  width: 12.5rem; /* 200px */
  color: white;
  text-decoration: none;
}
.schedule-container .schedule-texts a{
  text-decoration: none;
  width:fit-content;
 
}


.schedule-text .callno {
  width:20rem;
  font-size: 3rem; /* 30px */
  display: flex;
}

.schedule-texts .schedule-text:hover .callno {
  color: #f46d67;
}

.schedule-texts .schedule-text:hover .callno .icon {
  color: #f46d67;
}

.vertical-divider {
  border: none;
  border-left: 0.0625rem solid white; /* 1px */
  height: 5rem; /* 40px */
  margin: 0 0.625rem; /* 10px */
  margin-right: 2rem;
}



@media screen and (max-width: 48rem) { /* 768px */

  .banner {
    background-size: 50% contain;
    background-repeat: no-repeat;
    height: 43.75rem; /* 700px */
    display: block;
    align-items: center;
    padding: 0 1.25rem; /* 20px */
    overflow-y: hidden;
    position: relative;
    margin: 0;
  }
  
  .banner .custom-shape-divider-bottom-1725689494 {
    top: 31.25rem; /* 500px */
  }

  .custom-shape-divider-bottom-1725689494 svg {
    height: 13.31rem; /* 213px */
  }

  .banner-content {
    padding: 0;
    padding-top: 6.25rem; /* 100px */
  }

  .banner .banner-text {
    width: 90%;
    font-size: 2.5rem; /* 40px */
    line-height: 2.5rem; /* 40px */
  }

  .divider {
    width: 100%;
  }

  .btn {
    padding: 0.5rem 1rem; /* 8px 16px */
    font-size: 0.9rem; /* 14px */
  }
}
